@font-face {
  src: url('../fonts/OpenSans-Regular.ttf');
  font-family: 'OpenSans Regular';
}

@font-face {
  src: url('../fonts/OpenSans-Italic.ttf');
  font-family: 'OpenSans Italic';
}

@font-face {
  src: url('../fonts/OpenSans-Bold.ttf');
  font-family: 'OpenSans Bold';
}

@font-face {
  src: url('../fonts/OpenSans-SemiBold.ttf');
  font-family: 'OpenSans SemiBold';
}

@font-face {
  src: url('../fonts/OpenSans-ExtraBold.ttf');
  font-family: 'OpenSans ExtraBold';
}

body {
  margin: 0;
  font-family: 'Open Sans', HelvetiÑa, Arial, sans-serif;
}

p {
  margin: 0;
  font-family: 'OpenSans Regular';
  font-size: 16px;
  line-height: 28px;
}

header {
  background: #000000;
  max-width: 1249px;
  height: 89px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
}

.site-menu {
  display: flex;
  align-items: center;
}

.site-menu > a {
  font-size: 14px;
  line-height: 89px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.49px;
  color: #e0e0e0;
  padding: 0 25px;
}

.site-menu > a:hover {
  background-color: #ff3f40;
}

.header-out-wrapper,
.intro-out-wrapper {
  background-color: rgb(246, 242, 242);
  /*margin: 0;*/
}

.intro {
  max-width: 1249px;
  /*height: 380px;*/
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.intro-wrapper {
  max-width: 618px;
  /*height: 400px;
  margin: 
  display: flex;*/
}

.intro-heding {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'OpenSans ExtraBold';
  letter-spacing: 1.5px;
  margin: 0;
  margin-bottom: 20px;
}

.intro-text {
  max-width: 520px;
  margin-bottom: 50px;
  opacity: 0.7;
}

.contact-link {
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  color: #FFFFFF;
  width: 230px;
  background: #FF2D2D;
  display: inline-block;
  text-align: center;
  padding: 16px 0;
  border-radius: 5px;
}

.intro-image {
  flex: 1 1 551px;
  width: 551px;
  height: 100%;
  margin: 20px;
}


.services {
  max-width: 1249px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #ECECEC;
}

.services-lead-wrapper {
 max-width: 520px;
}

.services-heading {
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: 0.422159px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
}

.services-text {
  margin-bottom: 40px;
}

.services-link {
  font-weight: bold;
  font-size: 18px;
  color: #FF2D2D;
  width: 230px;
  border: 2px solid #ff3f40;
  display: inline-block;
  text-align: center;
  padding: 16px 0;
  border-radius: 5px;
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 620px;
  margin: 0;
}

.service {
  max-width: 250px;
  margin-right: 30px;
  margin-bottom: 40px;
  margin-right: 30px;
}

.service > h3 {
  font-size: 24px;
  font-family: 'OpenSans ExtraBold';
  margin-bottom: 10px;
}

.service > h3::before {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.service > .managment::before {
  content: url('../images/service-1.png');
}

.service > .branding::before {
  content: url('../images/service-2.png');
}

.service > .ux::before {
  content: url('../images/service-3.png');
}

.service > .animation::before {
  content: url('../images/service-4.png');
}

.products {
  max-width: 1249px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.products-header {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.products-heading {
  font-size: 42px;
  line-height: 55px;
  text-transform: uppercase;
  color: #585858;
  margin: 0;
  margin-bottom: 20px;
}

.products-text {
  max-width: 500px;
  margin: 0 auto 40px;
}

.products-line {
  width: 134px;
  height: 2px;
  background: #FF2D2D;
  border: 0;
}

.products-link {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 40px;
}

.products-link > a {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  padding: 0 25px;
}

.products-link > a:hover {
  color: #ff3f40;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.product {
  flex: 1 1 24%;
  max-width: 300px;
  min-width: 250px;
  padding: 0 5px;
  margin-bottom: 20px;
}

.team {
  max-width: 1249px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.team-header {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

.team-heading {
  font-size: 42px;
  line-height: 55px;
  text-transform: uppercase;
  color: #585858;
  margin: 0;
  margin-bottom: 20px;
}

.team-text {
  max-width: 500px;
  margin-bottom: 30px;
}

.team-line {
  width: 134px;
  height: 2px;
  background: #FF2D2D;
  border: 0;
  margin-left: 0;
}

.team-members-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;

}

.main-member-image {
  width: 324px;
  height: 460px;
  margin-right: 50px;
}

.main-member-text {
  position: absolute;
  max-width: 600px;
  top: 3px;
  left: 380px;
}

.main-member-text > p {
    margin-bottom: 30px;
}

.main-member-heading {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 12px;
}

.main-member-social {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.main-member-social a {
  font-style: italic;
  color: #000;
  text-decoration: none;
  margin-right: 30px;
}

.main-member-social a:hover {
  text-decoration: underline;
}

.member-wrapper {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.member {
  position: relative;
  margin-top: 18px;
  margin-right: 18px;
}

.member-wrapper-image {
  display: block;
  width: 191px;
  right: 247px;
}

.member h3 {
  visibility: hidden;
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 37px;
  color: #e0e0e0;
  background-color: #000;
  text-align: center;
  opacity: 0.7;
}

.member:hover > h3 {
  visibility: visible;
}

.subscribe {
  max-width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  display: block;
  background: #000000;
}

.subscribe-wrapper {
  max-width: 1249px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 40px;

}

.subscribe-heading {
  font-size: 42px;
  font-weight: bold;
  line-height: 55px;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form .input-email {
  font-size: 18px;
  width: 524px;
  height: 82px;
  border: 0;
  border-radius: 5px;
  padding: 0 20px;
  margin-right: 10px;
}

.subscribe-form .form-button {
  width: 217px;
  height: 82px;
  background: #FF2D2D;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px;
}

.feedback-wrapper {
  max-width: 1249px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.feedback {
  max-width: 760px;
}

.feedback-header {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

.feedback-heading {
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
    color: #585858;
    margin: 0;
    margin-bottom: 20px;
}

.feedback-text {
  max-width: 750px;
  margin-bottom: 30px;
}

.feedback-line {
  width: 134px;
  height: 2px;
  background: #FF2D2D;
  border: 0;
  margin-left: 0;
}
.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form .input-name {
  font-size: 18px;
  width: 342px;
  height: 71px;
  border: 1;
  border-radius: 5px;
  padding: 0 20px;
  margin-right: 10px;
  background: #f3f3f3;
}